.newhero {
background-color: #36200f;
scroll-behavior: auto;
color: white;
display: flex;
justify-content: space-between;
/* gap: 28px; */
flex-direction: row;
/* flex-wrap: wrap; */
align-items: center;
height: 85svh;
margin-top: 95px;
padding-top: 70px;
padding-bottom: 70px;
padding-inline: 90px;
z-index: 1;
border-bottom-right-radius: 53%;
}

.newhero h1 {
text-align: left;
line-height: 62px;
}

.newhero img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 380px;
width: auto;
border-radius: 5px;
padding-top: auto;
padding-bottom: auto;
}

.newhero p {
margin-top: 15px;
font-size: 20px;
}

.vision {
padding-inline: 132px;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

.vision .statement {
display: flex;
flex-direction: column;
gap: 27px;
}

.vision img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 480px;
width: 480px;
}

.vision p:not(.h2intro) {
max-width: 45ch;
font-size: 16px;
}

.vision h2 {
font-size: 42px;
}

.h2intro {
padding-bottom: 5px;
}

.vision h1 {
font-size: 57px;
margin-bottom: 34px;
text-align: left;
line-height: normal;
color: #36200f;
}

.history {
padding-inline: 130px;
background-color: #ecdfd5;
padding-top: 70px;
padding-bottom: 65px;
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 100px; 
}

.history img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 500px;
width: 400px;
}

.history p {
max-width: 55ch;
}

.faqs{
padding-top: 96px;
padding-bottom: 96px;
padding-inline: 140px;
/* background-color: red; */
}

#mycheck:checked ~ .a {
display: block;
}

.ans {
display: none;
padding: 30px 35px;
}

#mycheck {
display: none;
}

#mycheck1:checked ~ .b {
display: block;
}

#mycheck1 {
display: none;
}

#mycheck2:checked ~ .c {
display: block;
}

#mycheck2 {
display: none;
}

#mycheck3:checked ~ .d {
display: block;
}

#mycheck3 {
display: none;
}

#mycheck4:checked ~ .e {
display: block;
}

#mycheck4 {
display: none;
}

#mycheck5:checked ~ .f {
display: block;
}

#mycheck5 {
display: none;
}

#mycheck6:checked ~ .g {
display: block;
}

#mycheck6 {
display: none;
}

#mycheck7:checked ~ .h {
display: block;
}

#mycheck7 {
display: none;
}

#mycheck8:checked ~ .i {
display: block;
}

#mycheck8 {
display: none;
}

#mycheck9:checked ~ .j {
display: block;
}

#mycheck9 {
display: none;
}

label {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding: 28px 32px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
cursor: pointer;
}

label span {
color: #874f26;
font-weight: bold;
}

.ans a {
color: #874f26;
}
