.newhero {
background-color: #36200f;
scroll-behavior: auto;
color: white;
display: flex;
justify-content: space-between;
/* gap: 28px; */
flex-direction: row;
/* flex-wrap: wrap; */
align-items: center;
height: 85svh;
margin-top: 95px;
padding-top: 70px;
padding-bottom: 70px;
padding-inline: 90px;
z-index: 1;
border-bottom-right-radius: 53%;
}

.newhero h1 {
text-align: left;
line-height: 62px;
}

.newhero img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 380px;
width: auto;
border-radius: 5px;
padding-top: auto;
padding-bottom: auto;
}

.newhero p {
margin-top: 15px;
font-size: 20px;
}

.vision {
padding-inline: 132px;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

.vision .statement {
display: flex;
flex-direction: column;
gap: 27px;
}

.vision img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 480px;
width: 480px;
}

.vision p:not(.h2intro) {
max-width: 45ch;
font-size: 16px;
}

.vision h2 {
font-size: 42px;
}

.h2intro {
padding-bottom: 5px;
}

.vision h1 {
font-size: 57px;
margin-bottom: 34px;
text-align: left;
line-height: normal;
color: #36200f;
}

.history {
padding-inline: 130px;
background-color: #ecdfd5;
padding-top: 70px;
padding-bottom: 65px;
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 100px; 
}

.history img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 500px;
width: 400px;
}

.history p {
max-width: 55ch;
}


@media screen and (max-width: 475px) {
    .newhero {
    flex-direction: column;
    padding-inline: 10px;
    height: auto;
    margin-top: 75px;
    row-gap: 15px;
    border-bottom-right-radius: 126px;
    padding-bottom: 45px;
    }

    .newhero h1 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
    }

    h1, .statement h1 {
    font-size: 30px;
    }

    h2, .statement h2 {
    font-size: 28px;
    }

    .newhero p {
    margin-top: 8px;
    text-align: center;
    font-size: 17px;
    }

    .newhero img {
    width: 100%;
    margin-inline: 8px;
    height: 280px;
    }

    .vision {
    flex-direction: column-reverse;
    padding-inline: 12px;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 17px;
    /* background-color: red; */
    }

    .vision .statement {
    gap: 18px;
    }

    .vision h1 {
    margin-bottom: 12px;
    }

    .vision h2 {
    padding-bottom: 6px;
    }

    .donate {
    flex-direction: column;
    padding-inline: 12px;
    gap: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
    }

    .history img {
    width: 100%;
    text-align: center;
    /* aspect-ratio: 16/9; */
    }

    .vision img {
    height: 100%;
    aspect-ratio: 16/9;
    width: 100%;
    }

    .history {
    flex-direction: column;
    padding-inline: 12px;
    padding-top: 35px;
    padding-bottom: 10px;
    gap: 10px;
    margin-bottom: -100px;
    }

    .donate img {
    width: auto;
    }
}

@media screen and (min-width: 475px) and (max-width: 640px) {
    .newhero {
    padding-inline: 10px;
    height: auto;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 45px;
    margin-top: 70px;
    border-bottom-right-radius: 38%;
    }

    .newhero h1 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    }

    .newhero p {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
    }

    h1, .statement h1 {
    font-size: 40px;
    margin-bottom: 12px;
    }

    h2, .statement h2 {
    font-size: 36px;
    padding-bottom: 6px;
    }

    .vision img {
    height: 100%;
    aspect-ratio: 16/9;
    width: 100%;
    }

    .vision {
    flex-direction: column-reverse;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 17px;
    /* background-color: red; */
    }

    .vision div {
    width: 100%;
    }

    .vision p:not(.h2intro) {
    max-width: 100%;
    }

    .history {
    flex-direction: column;
    padding-inline: 20px;
    padding-top: 35px;
    padding-bottom: 10px;
    gap: 10px;
    margin-bottom: -90px;
    }

    .history img {
    text-align: center;
    margin-inline: auto;
    padding-inline: auto;
    }

    .donate {
    flex-direction: column;
    padding-inline: 20px;
    gap: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .newhero {
    padding-inline: 10px;
    height: auto;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 40px;
    margin-top: 94px;
    border-bottom-right-radius: 38%;
    }

    .newhero img {
    width: auto;
    }

    .newhero h1 {
    font-size: 46px;
    line-height: 48px;
    text-align: center;
    }

    .newhero p {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
    }

    h1, .statement h1 {
    font-size: 46px;
    margin-bottom: 12px;
    }

    h2, .statement h2 {
    font-size: 40px;
    padding-bottom: 6px;
    }

    .vision img {
    height: 100%;
    aspect-ratio: 16/9;
    width: 100%;
    }

    .vision {
    flex-direction: column-reverse;
    padding-inline: 24px;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 24px;
    /* background-color: red; */
    }

    .vision div {
    width: 100%;
    }

    .vision p:not(.h2intro), .history p {
    max-width: 100%;
    }

    .history {
    flex-direction: column;
    padding-inline: 24px;
    padding-top: 35px;
    padding-bottom: 10px;
    gap: 10px;
    margin-bottom: -90px;
    }

    .history img {
    text-align: center;
    margin-inline: auto;
    padding-inline: auto;
    }

    .donate {
    flex-direction: column;
    padding-inline: 24px;
    gap: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
    }

    .donate img {
    width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .newhero {
    padding-inline: 20px;
    }
 
    .newhero h1 {
    font-size: 48px;
    line-height: 56px;
    }

    h1, .statement h1 {
    font-size: 47px;
    margin-bottom: 12px;
    }

    h2, .statement h2 {
    font-size: 42px;
    padding-bottom: 6px;
    }

    .vision, .history, .donate {
    padding-inline: 20px;
    }

    footer p {
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 0.35px;
    }
}

@media screen and (min-width: 1441px) {
    .newhero {
    padding-inline: 360px;
    }

    .vision, .history, .donate {
    padding-inline: 465px;
    }

    .container-wrapper {
    margin-inline: auto;
    max-width: 95%;
    }

    .vision p:not(:first-of-type), .donate p:not(:first-of-type), .history p:not(:first-of-type) {
    max-width: 70ch;
    }
}